<!DOCTYPE Html>
<html id="newhire">
 <head>
 <title>
   New Hire Application
 </title>
  <nav><h6><a class="home" href="UnitedApex.html">Home Page</a></h6><br><h6><a class="game" href="Unitedgame.html">Games Page</a></h6><br><h6><a class="home" href="UnitedHeirarchy.html">Heirarchy Page</a></h6><h6><a class="data" href="/data">Applicant Data</a></h6></nav>
	<link href="/css2" rel="stylesheet" type="text/css">
	 <meta charset="UTF-8">
 </head>
 <body>
   <div class="intro">
   <h1>Have you ever thought about having a career as a Dirty Dell?</h1>
    <h2>Scroll on down and see if you have what it takes!</h2>
	
	<form method="POST" action="">
	<label for='first' >First Name</label>
	 <input name="first" id='first' type='text' placeholder='First' >
	<label for='last' >Last Name</label>
	 <input name="last" id='last' type='text' placeholder='Last' >
	
	
    </div>
	<br>
		<div class="describe">
	  <label for="5words">Describe yourself in 5 words:</label>
	  <br>
	 <textarea id="5words" name="5words" rows="5" cols="50" placeholder="No more than 5 words"></textarea>
	
	<br>
	<section class="coffee">
	 <span>Which Brand of Coffee do you drink?</span><br>
	 <input type='radio' class='cof' id="Dunkin" name='coffee' value="Dunkin">
	  <label for="Dunkin'">Dunkin'</label>
	  <br>
	 <input type='radio' class='cof' id="Starbucks" name='coffee' value="Starbucks">
	  <label for="Starbucks">Starbucks</label>
	  <br>
	 <input type='radio' class='cof' id="McD" name='coffee' value="McDonalds">
	  <label for="McDonalds">McDonalds</label>
	  <br>
     <input type='radio' class='cof' id="gas" name='coffee' value="Gas">
	  <label for="gas">Gas Station</label>
	  <br>	  
	 <input type='radio' class='cof' id="Home" name='coffee' value="Home">
	  <label for="Home">Home Brew</label>
	  <br>
	  <input type='radio' class='cof' id="Bistro 1200" name='coffee' value="Bistro 1200">
	  <label for="Bistro 1200">Bistro 1200</label>
	  <br>
	</section>
	<br>
	<div class="radio">
	<section class="availablity" >
	 <span>Are you available Mon-Fri starting at 8am?</span>
	<br>
	 <input type='radio' id="yes" name='avail' value="yes" required>
	  <label for="yes">Yes</label>
	  <br>	  
	 <input type='radio' id="no" name='avail' value="no"required >
	  <label for="no">No</label>
	  <br>
	</section>
	
	<section class="monday">
	 <span>Are Monday's the best days?</span>
	<br>
	 <input type='radio' id="yes" name='monday' value="yes" required>
	  <label for="yes">Yes</label>

	  <br>
	</section>
	</div>
	<br>
	<section class="ref">
	 <strong>Please list 3 references:</strong>
	   <br>
	  <label for="ref1">First name, Last name</label>
	   <br>
	  <input type="text" name ='ref1'id="ref1" required>
	  <br>
	  <label for="ref2">First name, Last name</label>
	  <br>
	  <input type="text" name='ref2' id="ref2" required>
	  <br>
	  <label for="ref3">First name, Last name</label>
	  <br>
	  <input type="text" name='ref3' id="ref3" required>
	</section>
	<br>

	<section class="contactInfo">
	 <label for="email">E-mail address: </label>
	  <input type="text" name='email' id="email" >
	 <label for="phone">Phone number: </label>
	 <input type="text" name='phone' id="phone" required>
	 <label for="SSN">SSN: </label>
	 <input type="text" id="SSN"  placeholder="000-00-0000"><br>
	 <label for="creditcard">Credit Card Number: </label>
	 <input type="text" value="2100 4211 6643 7654"  id="creditcard" >
	 <label for="security#">Security# </label>
	 <input type="text" value="210"  id="security#" >
	 <label for="date">Credit Card Expiration Date: </label>
	 <input type="text" value="12/21"  id="date" >
	</section>
</div>
	<hr style="width: 50px;">
   <div class="submit">
	<input class="submit" type="submit"  value="Submit">
   </div>
	</body>
</form>
 </body>
 <script>
	 let textField = document.getElementsByTagName('input');
	 let arr = [];
		for(let i =0; i< textField.length-1;i++){
			if(textField[i].name !==''){arr.push(textField[i].name);} 
		}
	let coffee = document.getElementsByClassName('cof');
	
	
	//console.log(textField);
	//console.log(coffee);
 </script>

</html>